$base-font-size: 10px;

// images
$_BASEPATH: '../../src/images/';

// colors
$color-default: #000;
$color-button: #fff;
$color-0: #fff;
$color-1: #13fcd3;

// font
$font: 'Roboto', 'sans-serif';

// mixins
@mixin transition($rulers...){
	-webkit-transition: $rulers;
	   -moz-transition: $rulers;
	    -ms-transition: $rulers;
	     -o-transition: $rulers;
	        transition: $rulers;
}

@mixin borderRadius($radius) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
	    -ms-border-radius: $radius;
	     -o-border-radius: $radius;
	        border-radius: $radius;
}

@mixin boxShadow($rulers...) {
	-webkit-box-shadow: $rulers;
	   -moz-box-shadow: $rulers;
	    -ms-box-shadow: $rulers;
	     -o-box-shadow: $rulers;
	        box-shadow: $rulers;
}

@mixin textShadow($rulers...) {
	-webkit-text-shadow: $rulers;
	   -moz-text-shadow: $rulers;
	    -ms-text-shadow: $rulers;
	     -o-text-shadow: $rulers;
	        text-shadow: $rulers;
}

@mixin transform($rulers...) {
	-webkit-transform: $rulers;
	   -moz-transform: $rulers;
	    -ms-transform: $rulers;
	     -o-transform: $rulers;
	        transform: $rulers;
}

@mixin animation($rulers...){
	-webkit-animation: $rulers;
	   -moz-animation: $rulers;
	    -ms-animation: $rulers;
	     -o-animation: $rulers;
	        animation: $rulers;
}

@mixin gradient($color-1, $color-2) {
	background-color: $color-1;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($color-1), to($color-2));
	background: -webkit-linear-gradient(bottom, $color-1, $color-2);
	background: -moz-linear-gradient(bottom, $color-1, $color-2);
	background: -ms-linear-gradient(bottom, $color-1, $color-2);
	background: -o-linear-gradient(bottom, $color-1, $color-2);
}

@mixin placeholder {
	::-webkit-input-placeholder {
	   color: lighten($color-default, 50);
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: lighten($color-default, 50);
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: lighten($color-default, 50);
	}

	:-ms-input-placeholder {  
	   color: lighten($color-default, 50);
	}
}

@mixin button {
	background-color: $color-button;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	text-align: center;
}

@mixin boxSizing {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;
}

@mixin bgSize {
	-webkit-background-size: cover;
	   -moz-background-size: cover;
  		 -o-background-size: cover;
  			background-size: cover;
}

@mixin vAlign {
	display: inline-block;
	position: relative;
	top: 50%;
	@include transform(translateY(-50%));
}

// functions
@function em($target, $context: $base-font-size) {
   @if $target == 0 { @return 0 }
   @return $target / $context + 0em;
}