@font-face {
	font-family: 'icomoon';
	src:url('../../fonts/icomoon/icomoon.eot?2u2shi');
	src:url('../../fonts/icomoon/icomoon.eot?#iefix2u2shi') format('embedded-opentype'),
		url('../../fonts/icomoon/icomoon.svg?2u2shi#icomoon') format('svg'),
		url('../../fonts/icomoon/icomoon.ttf?2u2shi') format('truetype'),
		url('../../fonts/icomoon/icomoon.woff?2u2shi') format('woff');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-location:before {
	content: "\e600";
}
.icon-list:before {
	content: "\e601";
}
