#map {
	height: 400px;
	width: 100%;
	@include borderRadius(5px);
}

.info {
	font-size: 1.1em;
	line-height: 1.6em;

	h1 {
		font-size: 1.2em;
		font-weight: 700;
	}

	a {
		color: $color-default;
		text-decoration: underline;
	}
}